.subnav{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.subnav a{
  text-decoration: none;
  color: black;
  font-family: Orbitron;
  font-size: 22px;
}

.subnav{
  padding: 15px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
